.consentForm {
    font-family: Arial, sans-serif;
    line-height: 1.6;
     font-size: 21px;
    /* margin: 20px; */
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.consentForm h1, h2 {
    color: #2c3e50;
}
.consentForm p {
    margin-bottom: 10px;
}
.consentForm .section {
    margin-bottom: 20px;
}

.consentForm label {
    /* display: flex; */
    display: block;
    margin-bottom: 10px;
    align-items: center;
    /* justify-content: center; */
}
.consentForm input[type="checkbox"] {
    margin-right: 10px;
    height: 24px;
    width: 24px;
    border: 2px solid #2c3e50;
}
.consentForm .button-container {
    margin-top: 20px;
}

.consentForm input[type='text']{
    padding: 10px;
    width: 300px;
    margin-left: 10px;
    font-size: 24px;
    border: 2px solid #2c3e50;
}


.declaration{
    margin-top: 30px;
    display: block;
}

.blueButton{
    /* height: 30px; */
    margin: 30px 0px;
    padding: 20px 50px;
    color: #fff;
    font-size: 28px;
    border-radius: 30px;
    border: none;
   

}


.isConsentActive{
    cursor: pointer;
    background: var(--primary-brand-color);
}
.isConsentDisabled{
    cursor: not-allowed;
    background: #ccc;
}